.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main {
  width: 100%;
  padding: 5rem 0;
  flex: 1;
  font-size: 20px;
}

.ScrollingContainer {
  margin: 20px 0;

}
.ScrollingContainer {
  margin: 20px 0;

}






