.Organization {
    width: 80%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.Organization__LogoContainer {
    height: 30vh;
    position: relative;
    
}

.Organization__Logo {
    width:  200px;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
}


.Organization__Stats {
    width: 50%;
    margin: 20px auto 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    justify-items: center;
    
}

.Organization__Stat {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border-radius: 10px;
}

.Organization__FollowBtn {
    background-color: lightgray;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    width: 50%;
}

.Organization__Desc {
    margin: 20px 0;
}