.Organization {
    width: 80%;
    margin: 0 auto 150px;
    position: relative;
    text-align: center;

}

.Organization__LogoContainer {
    height: 30vh;
    position: relative;
    
}

.Organization__Logo {
    width:  200px;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
}


.Organization__Stats {
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    justify-items: center;
    
}

.Organization__Stat {
    width: 100px;
    background-color: #cb4154;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.Organization__StatLeftColItem {
    justify-self: end;
}

.Organization__StatRightColItem {
   justify-content: start;
}

.Organization__StatIcon {

   width: 50%;
}

.Organization__StatText {
    font-size: 16px;
}

.Organization__FollowBtn {
    background-color: lightgray;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    width: 50%;
}

.Organization__Desc {
    margin: 20px 0;
}