
.User {
    width: 80%;
    margin: 30px auto 0;
    position: relative;
    text-align: center;
}

.User__LogoContainer {
    height: 25vh;
    position: relative;
    
}

.User__Logo {
    width:  100px;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
}




.User__Stats {
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    justify-items: center;
    
}

.User__Stat {
    width: 100px;
    background-color: #cb4154;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.User__StatIcon {

   width: 50%;
}

.User__StatText {
    font-size: 16px;
}

.User__FollowBtn {
    background-color: lightgray;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    width: 50%;
}

.User__Desc {
    margin: 20px 0;
}

.User__SettingsIcon {
    width: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
}